@page
@model PortfolioSite.Pages.SurveyDataModel
@{
}

<div class="card-deck">
    @foreach(var survey in @Model.Surveys)
    {
        <div id="card" class="card m-3">
            <div class="card-header">
                <h2>@survey.Company, @survey.Position</h2>
            </div>
            <div class="card-body">
                <h1>@survey.Country, @survey.Province, @survey.City</h1>
                <h1>@survey.Interest</h1>
                <p>@survey.Comments</p>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn-primary btn-primary">View</a>
                <a href="#" class="btn-primary btn-primary">Edit</a>
                <a href="#" class="btn-primary btn-danger">Delete</a>
            
            </div>
        </div>
    }
</div>



